body {
    background-color: #d9bcb2;
    padding-top: 60px;
}
.collapse {
    background-color: #d9bcb2;
}
.clearfix::after {
    content: "  ";
    display: block;
/*    表示不允許元素在兩側浮動。*/
    clear: both;
}
* {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    font-size: 15px;
}

@font-face {
    font-family: "fangSong";
    src: url("../fonts/fangSong.otf");
}
@font-face {
    font-family: "mingChao";
    src: url("../fonts/mingChao.otf");
}
@font-face {
    font-family: "LibreCaslonTextRegular";
    src: url("../fonts/LibreCaslonText-Regular.ttf"), url("../fonts/LibreCaslonText-Bold.ttf"),
        url("../fonts/LibreCaslonText-Italic.ttf");
}

.fangSong {
    font-family: fangSong;
}
.mingChao {
    font-family: mingChao;
}
.LibreCaslonTextRegular {
    font-family: LibreCaslonTextRegular;
}

.helvetica{
    font-family: "Helvetica Neue";
}

/*導航欄*/
.m-nav {
    background-color: #d9bcb2;
    border: 0;
    color: #1f1f1f;
    font-family: mingChao;
    font-size: 18px;
}
.navbar-inverse .navbar-nav li a {
    color: #1f1f1f;
    padding: 3px 0px 3px 37px;
    margin: 14px -27px 14px 20px;
}

.m-logo {
    width: 30px;
}

.test{
    display: flex;
    justify-content: space-evenly;
}




.share-box {
    border-top: 1px solid #9c8990;
    padding-bottom: 100px;
    padding-top: 30px;
}
.form-group {
    margin:  0!important;
}
.form-group input {
    margin-bottom: 20px;
    color: #ac8f85;
    background-color: #e1cfc9;
    border: 1px solid #c5a9a0;
}
.form-group textarea {
    color: #ac8f85;
    background-color: #e1cfc9;
    border: 1px solid #c5a9a0;
}
.form-group input::placeholder {
    color: #ac8f85 !important;
}
.share-btn {
    color: #fff;
    font-size: 24px;
    font-family: fangSong;
    border-radius: 5px;
    background-color: #82767a;
    padding: 8px 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}
/* /* .text-c {
    text-align: center;
}
.f-s {
    font-family: fangSong;
}
.pd-bt-40 {
    padding-bottom: 40px;
} */
a {
    color: #1f1f1f !important;
}
.wen1 {
    width: 200px;
}

/* .fix-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.corner-mark {
    background-color: #a96553;
    color: #fff;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.corner-mark2 {
    background-color: #8e6e63;
    color: #fff;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}
.store-item {
    border-top: 1px solid #a0847a;
    margin: 0 10px;
    padding: 20px 0;
}
.store-item .author {
    height: 45px;
    line-height: 45px;
    font-style: italic;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.store-item .name {
    font-family: mingChao;
    font-size: 20px;
    height: 50px;
}
.store-item .name2 {
    font-family: "Helvetica Neue";
    font-size: 20px;
    height: 50px;
}


.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dropdownBox {
    margin: 30px 0 0;

}


.container-fluid{
    padding: 0;
}

#Contact{
    margin-top:100px;
    background:#d9bcb2 url(../img/wavebg.png) no-repeat center bottom 100%;
}

#Contact .title .name{
    background-image:url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 24%;
    font-size: 30px;
    color: #2f2f2f;
    font-family: LibreCaslonTextRegular;
    margin-top: 180px;
    margin-left: 4px;
    height: 150px;
    text-align: revert;
    display: flex;
    align-items: center;
    padding-left: 20%;
}
#Contact .title .call{
    font-size: 28px;
    font-family: mingChao;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-right: 40px;
    color: #2f2f2f;
}
.shareBtn{
    font-family: mingChao;
    font-size: 23px;
    color: #e6dbda;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #ac8f85;
    border: none;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title{
    text-align:center
}
.words{
    max-width: 75%;
    margin:0px auto;
    font-family: fangSong;
    font-size: 20px;
}

.member{
    margin-top: 220px;
    margin-left: 70px;
    font-size: 70px;
    font-family: 'BigCaslon Medium';
}
.profile{
    margin-top: 150px;
    /* display: flex; */
    justify-content: space-between;
}


.flex{
    display: flex;
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px）) { 
    #Contact .title .call .words{
        margin-top: 0px;
        float: initial;
        
    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }
    .mainStoriesBook #anna img{
        margin-top: 0px;
    }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    #Contact .title .call .words{
        margin-top: 250px;
        float: right;

    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }

    #Contact .title .name{
        margin-top: 200px;
    }
 }

 /* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
    #Contact .title .call .words {
        margin-top: 255px;
        float: right;

    }
    .storiesTopLeft {
        padding-right: 80px;
        position: relative;
        border-right: 1px solid #a68d85;
        margin-bottom: 10px;
    }
 }
 /*右上角icon*/
 .header-laster{
    width: 100px;
    text-align: right;
/*    background-image: url(../img/curve.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: 100;
    margin-left: -45px;
    margin-right: 40px;
 }


 #TypeBox a:hover{
    text-decoration: none;
    color: #fff5eb !important;
}
.shareBtn:hover{
    box-shadow: 0px 0px 10px white;
}
.mouse:hover{
    font-size: 20px;
    color: #fff5eb !important;
}

footer a:hover{
    text-decoration: none;
    color: #fff5eb !important;
}


.test img:nth-child(1){
/*    justify-content: space-evenly;*/
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
/*animation:first 1s .8s forwards;*/
}

.test img:nth-child(2){
/*    justify-content: space-evenly;*/
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
/*animation:first 1s .8s forwards;*/
}

.test img:nth-child(3){
/*    justify-content: space-evenly;*/
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
/*animation:first 1s .8s forwards;*/
}

.test a{
    perspective: 1000px;
    transform-style:preserve-3d;
}
.imgout{
    animation:first .5s .8s forwards,ocillate .05s 1.2s linear 5 alternate forwards;
    /*animation: ocillate .5s 1.3s linear infinite alternate forwards;*/
}

@keyframes first{
    0%{
    /*transform: translate3d(-50px, -50px, 100px);*/
    /*transform: rotate3d(0,1,0,360deg);*/
    background-color: white;
    box-shadow: 0 0 5px 10px rgba(255,255,255,.5);
    transform: scale(2);
    opacity: 0;
}
    100%{
    background-color: transparent;
    box-shadow: 0 0 5px 10px rgba(255,255,255,0);
    transform: scale(1);
    opacity: 1;

}
}


@keyframes rotate-taichi {
  0%{transform:rotate3d(0, 1, 0, 45deg);}
  100%{transform:rotate3d(0, 1, 0, -45deg);}
}
@keyframes ocillate {
  0%{transform:translate(5px);}
  100%{transform:translate(-5px);}
}
.test{}

.imghov{
    border-radius: 10px;
    box-shadow: 0px 0px 10px white !important;
    transition: all 1s;
    animation:rotate-taichi 1s linear infinite alternate forwards;
}

.test .row .col-12 img:hover{
    box-shadow: 0px 0px 10px transparent;
}

.one{
    position: absolute;
    left: 530px;
    bottom: 45px;
    font-size: 30px;
/*    transform: translateX(100px);
    transition: all 5s 5s;*/
    -webkit-animation: show .5s .2s infinite ease-out alternate;
}
.two{
    position: absolute;
    left: 550px;
    bottom: 45px;
    font-size: 30px;
/*    transform: translateX(100px);
    transition: all 5s 5s;*/
    -webkit-animation: show .5s .4s infinite ease-out alternate;
}
.three{
    position: absolute;
    left: 570px;
    bottom: 45px;
    font-size: 30px;
/*    transform: translateX(100px);
    transition: all 5s 5s;*/
    animation: show .5s .6s infinite ease-out alternate;
}


@keyframes show{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(5px,-5px);
    }
}

