body {
    background-color: #d9bcb2;
    padding-top: 60px;
}
.collapse {
    background-color: #d9bcb2;
}
.clearfix::after {
    content: "  ";
    display: block;
/*    表示不允許元素在兩側浮動。*/
    clear: both;
}
* {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    font-size: 15px;
}

@font-face {
    font-family: "fangSong";
    src: url("../fonts/fangSong.otf");
}
@font-face {
    font-family: "mingChao";
    src: url("../fonts/mingChao.otf");
}
@font-face {
    font-family: "LibreCaslonTextRegular";
    src: url("../fonts/LibreCaslonText-Regular.ttf"), url("../fonts/LibreCaslonText-Bold.ttf"),
        url("../fonts/LibreCaslonText-Italic.ttf");
}

.fangSong {
    font-family: fangSong;
}
.mingChao {
    font-family: mingChao;
}
.LibreCaslonTextRegular {
    font-family: LibreCaslonTextRegular;
}

.helvetica{
    font-family: "Helvetica Neue";
}

/*導航欄*/
.m-nav {
    background-color: #d9bcb2;
    border: 0;
    color: #1f1f1f;
    font-family: mingChao;
    font-size: 18px;
}
.navbar-inverse .navbar-nav li a {
    color: #1f1f1f;
    padding: 3px 0px 3px 37px;
    margin: 14px -27px 14px 20px;
}

.m-logo {
    width: 30px;
}

.main-fix-text {
    font-size: 50px;
    position: absolute;
    left: 15%;
    font-family: fangSong;
    bottom: 10%;
}
.no-pa-mar {
    margin: 0;
    padding: 0;
}
.mar-bt-20 {
    margin-bottom: 20px;
}
.mar-top-30 {
    margin-top: 30px;
}
.chao-title {
    font-size: 26px;
    font-family: fangSong;
    padding-bottom: 5px;
}
.section-title {
    font-size: 22px;
}
.title-bottom {
    border-bottom: 1px solid #7e7976;
    padding: 0;
    margin: 0;
}
.fix-end {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


.mar-top-40 {
    margin-top: 40px;
}

.share-box {
    border-top: 1px solid #9c8990;
    padding-bottom: 100px;
    padding-top: 30px;
}
.form-group {
    margin:  0!important;
}
.form-group input {
    margin-bottom: 20px;
    color: #ac8f85;
    background-color: #e1cfc9;
    border: 1px solid #c5a9a0;
}
.form-group textarea {
    color: #ac8f85;
    background-color: #e1cfc9;
    border: 1px solid #c5a9a0;
}
.form-group input::placeholder {
    color: #ac8f85 !important;
}
.share-btn {
    color: #fff;
    font-size: 24px;
    font-family: fangSong;
    border-radius: 5px;
    background-color: #82767a;
    padding: 8px 10px;
    box-shadow: none;
    border: none;
    margin-top: 10px;
}
.text-c {
    text-align: center;
}
.f-s {
    font-family: fangSong;
}
.pd-bt-40 {
    padding-bottom: 40px;
}
a {
    color: #1f1f1f !important;
}
.wen1 {
    width: 200px;
}

.fix-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.corner-mark {
    background-color: #a96553;
    color: #fff;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.corner-mark2 {
    background-color: #8e6e63;
    color: #fff;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}
.store-item {
    border-top: 1px solid #a0847a;
    margin: 0 10px;
    padding: 20px 0;
}
.store-item .author {
    height: 45px;
    line-height: 45px;
    font-style: italic;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.store-item .name {
    font-family: mingChao;
    font-size: 20px;
    height: 50px;
}
.store-item .name2 {
    font-family: "Helvetica Neue";
    font-size: 20px;
    height: 50px;
}


.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dropdownBox {
    margin: 30px 0 0;

}


.container-fluid{
    padding: 0;
}

#Contact{
    margin-top:100px;
    background:#d9bcb2 url(../img/wavebg.png) no-repeat center bottom 100%;
}

#Contact .title .name{
    background-image:url(../img/tree.png);
    background-repeat: no-repeat;
    background-size: 24%;
    font-size: 30px;
    color: #2f2f2f;
    font-family: LibreCaslonTextRegular;
    margin-top: 180px;
    margin-left: 4px;
    height: 150px;
    text-align: revert;
    display: flex;
    align-items: center;
    padding-left: 20%;
}
#Contact .title .call{
    font-size: 28px;
    font-family: mingChao;
    margin-bottom: 20px;
    margin-right: 40px;
    color: #2f2f2f;
}
.shareBtn{
    font-family: mingChao;
    font-size: 23px;
    color: #e6dbda;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #ac8f85;
    border: none;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title{
    text-align:center
}
.words{
    max-width: 75%;
    margin:0px auto;
    font-family: fangSong;
    font-size: 20px;
}

.member{
    margin-top: 220px;
    margin-left: 70px;
    font-size: 70px;
    font-family: 'BigCaslon Medium';
}
.profile{
    margin-top: 150px;
    /* display: flex; */
    justify-content: space-between;
}


.flex{
    display: flex;
}


/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px）) { 
    #Contact .title .call .words{
        margin-top: 0px;
        float: initial;
        
    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }
    .mainStoriesBook #anna img{
        margin-top: 0px;
    }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    #Contact .title .call .words{
        margin-top: 250px;
        float: right;

    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }

    #Contact .title .name{
        margin-top: 200px;
    }
 }

 /* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
    #Contact .title .call .words {
        margin-top: 255px;
        float: right;

    }
    .storiesTopLeft {
        padding-right: 80px;
        position: relative;
        border-right: 1px solid #a68d85;
        margin-bottom: 10px;
    }
 }
 /*右上角icon*/
 .header-laster{
    width: 100px;
    text-align: right;
/*    background-image: url(../img/curve.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: 100;
    margin-left: -45px;
    margin-right: 40px;
 }


 .sel{
  width: 800px;
  height: 50px;
  margin: 0 auto;
  /*border: 1px solid #e5e5e5;*/
  /*background-image: linear-gradient(180deg, #fff 0%, #e5e5e5 98%, #fff 98%, #fff 100%);*/
  display: flex;
  margin-bottom: 100px;
  padding-top: 50px;
/*  margin-top:50px;
*/  /*border-top: 2px solid #a1847a;*/
}

.sel li{
  flex-grow: 1;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  /*border-right: 1px solid #e5e5e5;*/
}

.sel li:hover{
  /*background-color: #666;*/
  color: white;
}

.sel img{
    height: 100px;
    opacity: .5;
}
.sel img:hover{
    opacity: 1;
    border: 3px solid #D48585;
}
.picWrapper{
  width: 910px;
  height: 623px;
  margin: 0 auto;
  overflow: hidden;
  /*border: 1px solid #e5e5e5;*/
  position: relative;
  padding-left: 5px;
  padding-bottom: 30px;
}

.picWrapper p{
    width: 410px;
    margin: 0 auto;
    margin-top: 20px;
}
.pics{
  display: flex;
  transition: all .5s;
  position: relative;
  left: 0;
}

.pics li{
  flex-shrink: 0;
}

/*.btnNow{
  background-color: #666;
  color: white;
}*/

#TypeBox a:hover{
    text-decoration: none;
    color: #fff5eb !important;
}
.shareBtn:hover{
    box-shadow: 0px 0px 10px white;
}
.mouse:hover{
    font-size: 20px;
    color: #fff5eb !important;
}

footer a:hover{
    text-decoration: none;
    color: #fff5eb !important;
}


a:visited {
//設定已經瀏覽過的連結
color:#ffffff;
background-color:red;
}
